#root {
    width: 100%;
    height: 100vh;
    display: flex;
}

#sisu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.tume {
    background-color: #153448;
}

.tume2 {
    background-color: #3C5B6F;
}

.tume2:hover {
    background-color: #5b7890;
}

.hele {
    background-color: #DFD0B8;
}

.hele2 {
    background-color: #948979;
}

.roheline {
    background-color: #4b714c;
}

.roheline:hover {
    background-color: #679c68;
}

.roheline-hover-disabled:hover {
    background-color: #4b714c;
}

.punane {
    background-color: #902c2c;
}

.punane:hover {
    background-color: #b94747;
}

.punane-hover-disabled:hover {
    background-color: #902c2c;
}

.hele-tekst {
    color: #DFD0B8 !important;
    font-weight: 500;
}

.umar-nurk {
    border-radius: 10px;
}

.umar-nurk2 {
    border-radius: 40px;
}

.tume-tekst {
    color: #153448;
}

.tume-piir {
    border: #153448 solid;
}

.menuu {
    display: flex;
    position: fixed;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border-bottom-right-radius: 10px;
    z-index: 10;
}

.menuu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.menuu ul li a {
    display: block;
    font-size: 1.5rem ;
    font-weight: 500;
    padding: 0 2rem;
    transition: 0.3s;
}

.menuu ul li:hover {
    color: #808080;
    background-color: #3C5B6F;
}

.nupp {
    padding: 0.5rem;
    max-width: fit-content;
    max-height: fit-content;
    font-size: medium;
    padding: 0.7rem 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.teksti-paar {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 100%;
}

.tekst-nupp-konteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ikoon {
    font-size: large;
    transform: translateY(3px);
}

.samal-real {
    display: flex;
    flex-wrap: wrap;
}