#marksonad-konteiner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 40%;
    padding: 3rem;
    padding-top: 5rem;
}

#marksonad-konteiner .teksti-paar {
    gap: 1rem;
}

#marksonad-konteiner .teksti-paar > :first-child {
    font-size: x-large;
    font-weight: 700;
}

#marksonad-konteiner input {
    font-size: x-large;
    border: 1px solid;
    height: 100%;
    flex: 1;
    min-width: 0;
}

#marksonad-konteiner .nupp {
    margin: 0;
    font-size: large;
}

#tooted-list-konteiner {
    height: 100%;
    width: 40%;
}

#ostukorv-konteiner {
    height: 80%;
    width: 20%;
}

.marksona-konteiner {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 0.7rem;
}

#marksonad-konteiner .teksti-paar :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

#marksonad-konteiner .teksti-paar :nth-child(2) .ikoon {
    cursor: pointer;
}