#marksonad-konteiner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    width: 40%;
    padding: 3rem;
    padding-top: 5rem;
}

#marksonad-konteiner .teksti-paar {
    gap: 1rem;
}

#marksonad-konteiner .teksti-paar > :first-child {
    font-size: x-large;
    font-weight: 700;
}

#marksonad-konteiner input {
    font-size: x-large;
    border: 1px solid;
    height: 100%;
    flex: 1;
    min-width: 0;
}

#marksonad-konteiner .nupp {
    margin: 0;
    font-size: large;
}

#ostukorv-konteiner {
    height: 80%;
    width: 0%;
}

.marksona-konteiner {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 0.7rem;
}

#marksonad-konteiner .teksti-paar :nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

#marksonad-konteiner .teksti-paar :nth-child(2) .ikoon {
    cursor: pointer;
}

#tooted-list-konteiner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 2rem;
    height: 100%;
    width: 60%;
}

#tooted-list-konteiner > div > span {
    font-size: x-large;
    font-weight: 700;
    margin: 1.5rem 0;
}

#tooted-list {
    display: flex;
    flex-direction: column;
    border: #153448 solid 1px;
    padding: 1rem;
    max-height: 80vh;
    gap: 0.5rem;
    overflow-y: auto;
}

#tooted-list > *:not(:last-child)::after {
    content: "";
    display: block;
    width: calc(100% - 2em);
    height: 0.5px;
    margin: auto;
    background-color: #153448;
}

.toode-kaart-konteiner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.toode-kaart-konteiner span {
    font-size: medium;
    width: 20%;
}

.toode-kaart-konteiner > span:nth-child(1) {
    width: 60%;
}

#tooted-list::-webkit-scrollbar {
    width: 8px;
}

#tooted-list::-webkit-scrollbar-track {
    border: #3C5B6F solid 1px;
    margin: 10px;
    border-radius: 4px;
}

#tooted-list::-webkit-scrollbar-thumb {
    background: #3C5B6F;
    border-radius: 4px;
    width: 10px;
}

.logo-pilt {
    width: 6rem;
    height: 3rem;
    object-fit: cover;
}